/* -------------------------------------
Sheet Tabs 
(Shamelessly stolen from the EOTE sheet)
(Seriously, saved my bacon <3<3<3)
------------------------------------- */

div.sheet-tab-content { 
   display: none; 
   border-top:1px solid #ffffff;
   margin-top:2px;
}

input.sheet-textinput-skills.sheet-skill-input {
    width:200px;
}

input.sheet-tab-character-sheet:checked ~ div.sheet-tab-character-sheet,
input.sheet-tab-ark-sheet:checked ~ div.sheet-tab-ark-sheet,
{                                 
   display: block;
}

input.sheet-tab {
   width: 162px;
   height: 30px;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   border:none;
   outline:none;
   position: relative;
   cursor: pointer;
   z-index: 1;
}

input.sheet-tab::before {
   content: attr(title);

   border:1px solid #ccc;
   border-bottom:1px solid #444;
   border-radius:4px 4px 0 0;
   padding-bottom:1px;
   sheet-text-align: center;
   display: block;
   color:#444;
   width: 160px;
   line-height: 30px;
   font-size: 16px;
   text-align:center
}


input.sheet-tab:active,
input.sheet-tab:focus {
   outline:none;
}

input.sheet-tab:hover::before {
   background:#e3e3e3;
}

input.sheet-tab:checked::before,
input.sheet-tab:checked:hover::before {
   border:1px solid #444;
   border-bottom:1px solid #fff;
   background:#fff;
}

/* -----
Inputs 
----- */

/* General */

input[type='radio']{ 
   margin: 6px;  
}

input[type='text']{
   background-color:#f6eadc;
   margin-left:5px;
   margin-top:3px;
   margin-bottom:3px;
}

input[type='number']{
   margin-top:3px;
   margin-bottom:3px;
   font-weight:bolder;
}

textarea {
   resize:vertical;
}

select {
   width:120px;
   background-color:#f6eadc;
   margin:0;
   padding:0;
   
}

/* Type Number */

.sheet-value {
   background-color:#ECD3B6;
}

.sheet-value-brighter {
   background-color:#f6eadc;
}

.sheet-value-singledigit {
   width:36px !important;
}

.sheet-value-doubledigit {
   width:39px !important;
}

.sheet-value-tripedigit {
   width:50px !important;
}


/* Type Text */

.sheet-textinput-name {
   width: 300px;
}

.sheet-textinput-role {
   width: 205px;
}

.sheet-textinput-skills {
   width: 240px;
}

.sheet-textinput-conditions-mutations-talents {
   width: 285px;
}

.sheet-textinput-armor {
   width: 240px;
}

.sheet-textinput-gear {
   width: 280px;
}

.sheet-textinput-weapons {
   width: 175px;
}

.sheet-textinput-goals {
   width: 495px;
}

.sheet-textinput-pcs {
   width: 505px;
}

.sheet-textinput-arktype {
   width: 300px;
}

.sheet-textinput-coordinates {
   width: 170px;
}

.sheet-textinput-project {
   width: 250px;
}

.sheet-textinput-boss-name {
   width: 240px;
}

.sheet-textinput-boss-type {
   width: 353px;
}

.sheet-textinput-other-info {
   width: 195px;
}

/* Text Area */

.sheet-text-apperance {
   background-color:#f6eadc;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 269px;
   height:46px;
}

.sheet-text-talentmutations {
   background-color:#ECD3B6;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 269px;
   height:40px;
}

.sheet-text-ark-description {
   background-color:#f6eadc;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 589px;
   height:90px;
}

/* ----------------------
Headers, labels and texts
------------------------*/

.sheet-text-header {
   text-align: left;
color: white;
   font-family: fantasy, Impact, Charcoal, sans-serif;
   font-size:large;
   text-indent: 10px;
   height: 30px;
}

.sheet-text-header-smaller {
   text-align: left;
color: white;
   font-family: fantasy, Impact, Charcoal, sans-serif;
   font-size:12;
   text-indent: 6px;
   height: 30px;
}

.sheet-text-stats {
   text-align: left;
   color: black;
   font-family: Tahoma, Geneva, sans-serif;
   font-size:15;
   padding-left:5px;
}

.sheet-text-label {
   text-align: left;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size:12;
   padding-left:5px;
   padding-top: 5px;
   padding-bottom: 5px;
}

/* ---------
Meta Windows
--------- */
.sheet-character-wrapper{
     width:940px; 
}

.sheet-meta1 {
     float:left;
     padding-right:20px;
}

.sheet-meta2 {
     float:left;
     padding-bottom:20px;
     padding-right:20px; 
}

.sheet-meta3 {
     float:left; 
     padding-bottom:20px;     
}

.sheet-meta4 {
     float:left;      
}

.sheet-meta5 {
     float:left;
     padding-bottom:20px;      
}

.sheet-meta6 {
     float:left;      
}

/* ------
Both Tabs
------ */

.sheet-logo { 
   width:950px;
}

/* ------------
Character Sheet
------------ */


.sheet-singlecell {
   width: 300px;
}

.sheet-singlecell-bottompadding {
   width: 300px;  
   padding-bottom:20px; 
}

.sheet-twocell-bottompadding {
   width: 620px; 
   padding-bottom:20px;
}

.sheet-name-role {
   width: 620px;
   float: left; 
   padding-bottom:20px;        
}

.sheet-relationships {
   width: 620px;
}

.sheet-right-roll {
    float:right;
}

/* ------
Ark Sheet 
------ */

.sheet-theark {
   width: 620px; 
   padding-right: 20px;
   float:left;
}

.sheet-developmentlevels {
   width: 300px;
   float:left;
}

.sheet-projects {
   width: 940px;
   float:left;
   padding-bottom: 20px;
}

.sheet-bosses {
   width: 620px;
   float:left;
   padding-right: 20px;
}

.sheet-otherinfo {
   width: 300px;
   float:left;
}

/* -------
Row Colors 
------- */

.sheet-row-dark {
   background-color:#D58E43;
}

.sheet-row-light {
   background-color:#ECD3B6;
}

/* --------- 
Table Styles 
--------- */

table {
  border-collapse:collapse;
}

table, th, td {
  border: 1px solid black;
}

.sheet-table-onecolumn{
   width:300px;
}

.sheet-table-twocolumn{
   width:620px;
}

.sheet-table-threecolumn{
   width:940px;
}

.sheet-table-noleft{
   border-left:none;
}

.sheet-table-noright{
   border-right:none;
}

.sheet-table-noleftright{
   border-right:none;
   border-left:none;
}

.sheet-table-notop{
   border-top:none;
}

/* GRID STYLING */
.sheet-background-wrap {
	background-color: #f1f1f1;
	display: block;
}

.sheet-grid-container {
    display: grid;
    grid-gap: 5px;
    background-color: transparent;
    padding: 3px;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.sheet-grid-item {
    background-color: rgba(259, 259, 259, 0.25);
    border: none;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.sheet-item-one {
  grid-column: 1 / 2;
}
.sheet-item-two {
  grid-column: 2 / 3;
}
.sheet-item-three {
  grid-column: 3 / 4;
}
.sheet-item-four {
  grid-column: 4 / 5;
}

.sheet-item-span-right-four {
  grid-column: 4 / 8;
}

.sheet-item-span-right-four-left {
  grid-column: 4 / 6;
}

.sheet-item-span-right-four-right {
  grid-column: 6 / 8;
}

.sheet-item-row-span-three {
  grid-row: 2 / 5;
}

.sheet-header-weapons {
    max-width: 100%;
    height: auto;
}

.sheet-horizontal-rule {
    margin: 5px 2px 5px 2px;
}
/**** DICE ROLLER STYLING ****/
input.sheet-dice-selection {
    width: 70px;
    height: 18px;
    position: relative;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-dice-selection + span::before {
    content: attr(title);
    color: #000000;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    background: #D3D3D3;
    width: 70px;
    height: 18px;
    box-shadow: 2px 2px 2px black;
    vertical-align: middle;
    margin: 3px 3px 3px -70px;
}

input.sheet-dice-selection:checked + span::before {
    color: #000000;
    background: #FFFFFF;
    font-weight: bold;
}

input.sheet-skill:checked + span::before {
    color: #FFFFFF;
    background: #800000;
}

input.sheet-gear:checked + span::before {
    color: #FFFFFF;
    background: #000000;
}

input.sheet-negative:checked + span::before {
    color: #FFFFFF;
    background: #32CD32;
}

input.sheet-mighty:checked + span::before {
    color: #FFFFFF;
    background: #FF8c00;
}

input.sheet-epic:checked + span::before {
    color: #FFFFFF;
    background: #0000FF;
}

input.sheet-legendary:checked + span::before {
    color: #FFFFFF;
    background: #663399;
}

/* ROLL TEMPLATE STYLING */
.sheet-rolltemplate-forbiddenlands .sheet-template-wrap {
    background-color: #f1f1f1;
    border: 1px solid #d9d9d9; /* 2 shades up from #f1f1f1 */
    border-radius: 5px;
    width: 100%;
    margin-left: -10px;
    padding: 5px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-grid {
    display: grid;
    grid-gap: 3px;
    background-color: transparent;
    padding: 3px;
    grid-template-columns: 15.75% 15.75% 15.75% 15.75% 15.75% 15.75%;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-grid-item {
    background-color: rgba(259, 259, 259, 0.25);
    border: none;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-six {
  grid-column: 1 / 7;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-left {
  grid-column: 1 / 3;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-center {
  grid-column: 3 / 5;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-right {
  grid-column: 5 / 7;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-one {
  grid-column: 1 / 2;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-two {
  grid-column: 2 / 3;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-three {
  grid-column: 3 / 4;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-four {
  grid-column: 4 / 5;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-five {
  grid-column: 5 / 6;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-span-shix {
  grid-column: 6 / 7;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-header {
    background-image: url("https://s3.amazonaws.com/files.d20.io/images/72589395/M-D4TeeRx5caPK0hXhqWRQ/max.png?1548856723");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 35px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-footer {
    background-image: url("https://s3.amazonaws.com/files.d20.io/images/72592809/ahPJpoh4002K1Xyg9dFGsg/max.png?1548861288");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 12px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-artifact {
    background-image: url("https://s3.amazonaws.com/files.d20.io/images/72605055/1nfDtxkf0aFb8NyEigV_vA/max.png?1548871523");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-success {
    max-width: 100%;
    height: auto;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-bane {
    max-width: 100%;
    height: auto;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-bold {
    font-weight: bold;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-smaller {
    font-size: 0.6em;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-white-dice {
    background-color: rgba(259, 259, 259, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-maroon-dice {
    background-color: rgba(128, 0, 0, 0.4);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-green-dice {
    background-color: rgba(0, 255, 0, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-orange-dice {
    background-color: rgba(255, 165, 0, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-blue-dice {
    background-color: rgba(0, 0, 255, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-purple-dice {
    background-color: rgba(128, 0, 128, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .sheet-template-black-dice {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 32px;
}

.sheet-rolltemplate-forbiddenlands .inlinerollresult  {
    font-size: 1.1em;
    background-color: transparent;
    border: none;
}
 
.sheet-rolltemplate-forbiddenlands .inlinerollresult.fullcrit {
    color: #000000;
    border: none;
}
 
.sheet-rolltemplate-forbiddenlands .inlinerollresult.fullfail {
	color: #000000;
    border: none;
}
 
.sheet-rolltemplate-forbiddenlands .inlinerollresult.importantroll {
	color: #000000;
    border: none;
}
